<div class="search">
  <mat-form-field appearance="outline" class="grow" subscriptSizing="dynamic">
    <mat-label>{{ 'home.association' | transloco }}</mat-label>
    <input matInput [value]="slug()" (input)="slug.set($any($event.target).value)" />
    <mat-hint>{{ 'home.subtitle' | transloco }}</mat-hint>
  </mat-form-field>
  <a mat-flat-button [routerLink]="['/asbls', slug(), 'events']" [disabled]="!slug()">
    {{ 'home.viewEvents' | transloco }}
    <mat-icon iconPositionEnd>arrow_forward</mat-icon>
  </a>
</div>
