<!-- The route guard only lets logged-in users in, so user() is set here. -->
@if (user(); as user) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-icon mat-card-avatar>account_circle</mat-icon>
      <mat-card-title>{{ 'account.title' | transloco }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{ 'account.id' | transloco }}</span>
          <span matListItemLine>{{ user.id }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ 'account.roles' | transloco }}</span>
          <span matListItemLine>
            <mat-chip-set>
              @for (role of user.roles; track role) {
                <mat-chip>{{ role }}</mat-chip>
              }
            </mat-chip-set>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
}
